USERS = {
    "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX": "Local account X",
    "YYYYYYYY-YYYY-YYYY-YYYY-YYYYYYYYYYYY": "Local account Y",
    "ZZZZZZZZ-ZZZZ-ZZZZ-ZZZZ-ZZZZZZZZZZZZ": "Local account Z"
}
